@font-face {
  font-family: 'Pixeled';
  src: url('../assets/fonts/Minecraftia.ttf') format('truetype');
}

@font-face {
  font-family: 'Greconian';
  src: url('../assets/fonts/Greconian.ttf') format('truetype');
}

@font-face {
  font-family: 'Canterbury';
  src: url('../assets/fonts/Canterbury.ttf') format('truetype');
}

@font-face {
  font-family: 'Roman';
  src: url('../assets/fonts/roman_font_7.ttf') format('truetype');
}

h1 {
  text-align: center;
  font-family: 'Greconian', monospace;
  font-size: 8vh; /* 64px == 4em == 8vh */
  color: #fff;
}

/* ARREGLO PARA LOS INTERLINEADOS */
#phaserGame, .menu {
  line-height: 0px;
  vertical-align: text-top;
  font-size: 0px;
}

.info {
  line-height: normal;
}

/* CANCELA EL SCROLL */
/* body {
  overflow: hidden;
} */
